<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="gra1">
		<title>Arkanoid</title>
		<pos>500,100</pos>
		<size>650,800</size>
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Podaj swoja nazwe gracza:</label>
			<pos>152,208</pos>
			<size>160,40</size>
			<fg>#FF0000</fg>
			<font>
				<size>20</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
			</font>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>208,288</pos>
			<size>208,40</size>
			<fg>#00FF00</fg>
			<bg>wxSYS_COLOUR_BACKGROUND</bg>
			<font>
				<size>20</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
			</font>
			<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>ZACZYNAMY</label>
			<pos>200,400</pos>
			<size>224,56</size>
			<fg>#0000FF</fg>
			<bg>wxSYS_COLOUR_BACKGROUND</bg>
			<font>
				<size>20</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
			</font>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>POWROT</label>
			<pos>235,520</pos>
			<size>150,35</size>
			<fg>#0000FF</fg>
			<bg>#000000</bg>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
